body {
    font-family: Verdana, sans-serif;
}

h3 {
    background-color: rgb(219, 12, 12);
    color: white;
}

.tori {
    color: rgb(231, 118, 12)
}

.gyu {
    color: rgb(151, 0, 151)
}

.katsu {
    color: blue
}

.oyako {
    color: red
}

body {
    font-family: Verdana, sans-serif;
}